extends layout/main
block variables
    - var pageTitle = 'PUG'
    - var youAreUsingPug = true

block content
    include modules/header
    h1.title Pug - node template engine
    ul#container.col
        if youAreUsingPug
            p You are amazing
        else
            p Get on it!
        p.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.
    include modules/footer